.pricing-section {
  margin: 0 auto;
  padding: $section-padding;
  background: $bg-section-1;
  position: relative;
  overflow: hidden;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.pricing-footer-text {
  margin-top: 3rem;
  text-align: center;
  color: $title-main;
}

.pricing-buttons {
  display: flex;
  justify-content: center;
}

.pricing-buttons .btn-primary{
  margin-top: 2rem;
}

.pricing-section .card h3 {
  font-size: $h3;
  font-weight: $title-weight;
  margin-bottom: 16px;
  color: #111;
  letter-spacing: -0.01em;
}

.pricing-section .card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-section .card li {
  font-size: $text;
  color: #555;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-pricing {
  padding: 15px;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-left: 5rem;
}

.pricing-section .badge {
  padding: 6px 18px;
  background: $bg-section-1;
  color: $title-main;
  font-size: 0.75rem;
  font-weight: $title-weight;
  letter-spacing: 0.8px;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
}