body {
    margin: 20px auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

h1 {
    @include title-font;
    font-size: $h1;
}

h2 {
    @include title-font;
    font-size: $h2;
}

h3 {
    @include title-font;
    font-size: $h3;
}

p {
    font-size: $text;
    color: $text-muted;
    line-height: 1.6;
}

small {
    font-size: 0,8rem;
    text-align: center;
    color: white;
}

.btn-primary {
    font-size: 1.8rem;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10rem;
}

.btn-secondary {
    @include button-secondary;
    font-size: 1.8rem;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin-left: 5rem;
    margin-top: 10rem;
}

.btn-pricing {
    padding: 15px;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: 5rem;
}


.divider-line {
  width: 80%;
  box-shadow: 1px, 1px, 1px;
  margin: auto;
  height: 0.3rem;
  background: black;
  max-width: 1400px;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}