body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

p {
    font-size: $text;
    color: $text-muted;
    line-height: 1.6;
}

.small {
    font-size: 0,8rem;
    color: $title-main;
    display: flex;
    justify-content: center;
}

.btn-primary {
    font-size: $btn-font-size;
    padding: $btn-padding;
    box-shadow: $btn-shadow;
    margin-top: 10rem;
}

.btn-secondary {
    font-size: $btn-font-size;
    padding: $btn-padding;
    box-shadow: $btn-shadow;
    margin-left: 5rem;
    margin-top: 10rem;
}

.btn-pricing {
    padding: $btn-padding;
    font-size: $btn-font-size;
    box-shadow: $btn-shadow;
    margin-top: 2rem;
    margin-left: 5rem;
}


.divider-line {
  box-shadow: 1px, 1px, 1px;
  margin: auto;
  height: 0.3rem;
  background: black;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}