@mixin title-font {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em
}

@mixin button-primary {
    background-color: #F46184;
    color: $bg-main;
    padding: 0.75rem 1.5rem;
    border: 1px 1px solid #F46184;
    border-radius: 0.375rem;
    font-size: $text;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#F46184, 10%);
    }
}

@mixin button-secondary {
    background-color: #F46184;
    color: $bg-main;
    padding: 0.75rem 1.5rem;
    border: 1px 1px solid #F46184;
    border-radius: 0.375rem;
    font-size: $text;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#F46184, 10%);
    }
}

@mixin slide-up(
  $distance: 60px,
  $duration: 0.8s,
  $easing: ease-out
) {
  opacity: 0;
  transform: translateY($distance);
  transition: opacity $duration $easing, transform $duration $easing;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}